$dark-old: #0d6095;
$dark: #0078AA;
$light: #d3ecfd;
$light200: #bee1f9;
$danger: #bb0000;
$grey: #747474;
$grey100: #d0d0d0;
$white: #fff;
$defaultText: #585858;
$inactive: #86a6d7;
$green: #0f6248;
$antiquewhite: #faebd7;
